html {
    background-color: black;
    color: white;
    text-align: center;
}

div {
    margin: 0 auto;
    width: 50%;
}

h1 {
    font-family: "Libre Baskerville", serif;
    text-transform: uppercase;
}

img {
    border: 5px solid white;
    width: 100%;
}
